p, h1 {
    text-align: center;
}
li:hover {
    background-color: yellow;
}
li:active {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
li {
    list-style: none;
}