div:hover {
  border: 2px solid blue;
}
div:nth-of-type(1) {
  color: red;
}
div:nth-of-type(2) {
  color:yellow;
}
div:nth-of-type(3) {
  color:brown;
  font-size: large;
}
div:nth-of-type(4) {
  color: purple;
}
div:nth-of-type(5) {
  color: burlywood;
}
h3:nth-of-type(1) {
  background-color: yellow;
}
h3:nth-of-type(2) {
  background-color:blue;
}
h3:nth-of-type(3) {
  background-color: bisque;
}
h3:nth-of-type(4) {
  background-color: orange;
}
h3:nth-of-type(5) {
  background-color: brown;
}